<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=dburanosistema.mssql.somee.com;User ID=urano_SQLLogin_1;Password=uipdtapu5l"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
